<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interdroid.swan.jsonsensor" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="interdroid.swan.jsonsensor.JsonSensorApp">
        <activity
            android:name="interdroid.swan.jsonsensor.activities.SelectionActivity"
            android:label="@string/label_json_sensor"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name="interdroid.swan.jsonsensor.activities.JsonInputActivity"
            android:label="@string/title_select_request"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name="interdroid.swan.jsonsensor.activities.JsonActivity"
            android:label="@string/title_select_value"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
        <activity android:name="interdroid.swan.jsonsensor.activities.PathToValueListActivity"
            android:label="@string/title_select_value"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
